<div class="jumbotron jumbotron-fluid visible" style="background: url('images/about.jpg') no-repeat center center fixed; height:500px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container" align="center">
    <h2>About Me</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h3>A natural intuitive medium, I'm able to tune in to the frequency of the spirit world to bring through messages from departed loved ones and guidance pertaining to a person's life. I'm also able to connect, where appropriate, with the messages from spirit guides and the angelic realm. I've been highly sensitive my entire life, and from 2013 I realised my sensitivity indicated a predisposition for reading energy and interpreting frequencies. Often we assume we're over-emotional, or over-dramatic, but if you can relate to being highly sensitive, you may have a natural predisposition for interpreting energy too</h3>
        <br>
        <h3>I've spent some time immersed in spiritual subjects and esoteric education, as I love exploring all the magical aspects of life - it's important for me to get others in touch with the wonder of life through my work. Assisting others to get in touch with who they really are, understanding life's mysteries, and simply gaining relief and comfort are all the reasons why I love to do what I do</h3>
        <br>
        <h3>Life is for the living, however, and recently I've found that I'd rather be out there enjoying and living the life I was born to live – rather than constantly talking about the meaning of life. That said, being introduced to life's secrets and magical aspects can help us live a life that is more fulfilling and in keeping with who we truly are. I love being able to offer a slice of life's magic through my work so that others can enjoy the lives they are living</h3>
        <br>
        <h3>I like to conduct readings spontaneously, allowing each one to be different and take on its own nature. A variety of elements may be used and blended during a single session – tarot and other oracle cards; crystals; trance work</h3>
        <br>
        <h3>The universe is an inherently magical place. The supernatural is natural. There is a sentient force in the very air we breathe. There is nothing truly mundane, unintelligent or accidental about any aspects of life. A reading is a lovely way to begin tapping in to this wonder...of oneself,  and of all that is</h3>
    </div>
    <!-- <div style="margin-top: 50px;">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: white; width: 100%; margin: 10px; border: solid black 1px;min-height: 450px;">
                <div align="center">
                    <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/crystalball.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">I'm a natural psychic medium and I've been sensitive to energy and the workings of Spirit my entire life. That said, this ability remains the natural potential for us all. In the last three years, I've undergone many personal challenges and changes, let go of societal illusions and stepped into my true self. I now pursue what I feel I was born to do.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: white; width: 100%; margin: 10px; border: solid black 1px;min-height: 450px;">
                <div align="center">
                    <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/guidance.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">I enjoy providing people with empowerment, comfort and life guidance, so as to move forwards with ease and find relief in the life being lived. I'm passionate about teaching others of the nature of reality and existence, the secrets of life, and about who we really are.<br><br></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: white; width: 100%; margin: 10px; border: solid black 1px;min-height: 450px;">
                <div align="center">
                    <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/stressed.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">Life can be exceptionally trying - incredibly traumatic at times. A reading is a fantastic way to tap into the magic of life and receive divine inspiration. No matter what you believe, I'm here for you if you need me. Contact me for further information, appointments, rates and the full range of services.</p>
            </div>
        </div>
    </div> -->
</div>
