<div class="jumbotron jumbotron-fluid visible" style="background: url('images/about.jpg') no-repeat center center fixed; height:500px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container" align="center">
    <h2>About Me</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h3>A natural psychic medium, I've spent the last three years realising and stepping into my potential</h3>
        <h3>I've been spiritually aware my whole life, but 2008/2009 marked a time of great spiritual awakening for me</h3>
        <h3>Since then, I've learnt much about life - and life has taught me much firsthand. It's a pleasure for me to share this knowledge with others during readings, conversation and other sessions through which I conduct my services</h3>
        <h3>Contact me if you want to hear about the secrets of life, you won't regret it!</h3>
    </div>
    <div style="margin-top: 50px;">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: white; width: 100%; margin: 10px; border: solid black 1px;min-height: 450px;">
                <div align="center">
                    <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/crystalball.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">I'm a natural psychic medium and I've been sensitive to energy and the workings of Spirit my entire life. That said, this ability remains the natural potential for us all. In the last three years, I've undergone many personal challenges and changes, let go of societal illusions and stepped into my true self. I now pursue what I feel I was born to do.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: white; width: 100%; margin: 10px; border: solid black 1px;min-height: 450px;">
                <div align="center">
                    <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/guidance.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">I enjoy providing people with empowerment, comfort and life guidance, so as to move forwards with ease and find relief in the life being lived. I'm passionate about teaching others of the nature of reality and existence, the secrets of life, and about who we really are.<br><br></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: white; width: 100%; margin: 10px; border: solid black 1px;min-height: 450px;">
                <div align="center">
                    <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/stressed.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">Life can be exceptionally trying - incredibly traumatic at times. A reading is a fantastic way to tap into the magic of life and receive divine inspiration. No matter what you believe, I'm here for you if you need me. Contact me for further information, appointments, rates and the full range of services.</p>
            </div>
        </div>
    </div>
</div>
