<div class="jumbotron jumbotron-fluid jumbotronImage" style="background: url('images/blog.jpg') no-repeat center center fixed;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container">
    <h2 align="center">Blog posts</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h3 align="center">Here you can find my personal blogs where I talk about various things in my life</h3>
    </div>
    <div data-ng-repeat="post in posts | orderBy: '-date'" align="center">
        <a href="#/posts/{{post._id}}">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="articleContainer">
                    <img data-ng-src="{{post.image}}" height="200px" width="100%">
                    <div class="transparent articleDate">
                        {{post.date | date : "dd.MM.y"}}
                    </div>
                    <div class="transparent articleTitle">
                        {{post.title}}
                    </div>
                    <div class="articleContent">
                        <p class="wrap">{{post.content}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="container">
    <div align="center">
        <a href="#/create">
            <button type="button" class="btn btn-info btn-lg"><i class="icon-plus"></i> Add Blog Post</button>
        </a>
    </div>
</div>
