<div class="jumbotron jumbotron-fluid visible" style="background: url('images/jumbotronHome.jpg') no-repeat center center fixed; height:500px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container" align="center">
    <h2>Contact</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h3>A natural psychic medium, I've spent the last three years realising and stepping into my potential</h3>
        <h3>I've been spiritually aware my whole life, but 2008/2009 marked a time of great spiritual awakening for me</h3>
        <h3>Since then, I've learnt much about life - and life has taught me much firsthand. It's a pleasure for me to share this knowledge with others during readings, conversation and other sessions through which I conduct my services</h3>
        <h3>Contact me of you want to hear about the secrets of life. You won't regret it</h3>
    </div>
</div>
