<div class="jumbotron jumbotron-fluid visible" style="background: url('/images/blogpost.jpg') no-repeat center center fixed; height:200px;margin-bottom: 0px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div style="min-height:80px; background-color:lightgrey; border-bottom: 1px solid black; margin-bottom: 50px;">
    <div class="container">
        <div align="left">
            <h4>{{post.title}}</h3>
        </div>
    </div>
</div>
<div class="container">
    <div style="margin:10px; min-height: 200px;"><img width="100%" data-ng-src='{{post.image}}'/></div>
    <div class="fullArticleText">{{post.content}}
        <span data-ng-click="deletePost(post)">
        <a href="#/home"><button type="button" class="btn btn-danger btn-lg"><i class="icon-trash"></i> Delete</button></a>
        </span>
    </div>
</div>
