<div class="jumbotron jumbotron-fluid visible" style="background: url('images/emotionalhealing.jpg') no-repeat center center fixed; height:500px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container" align="center">
    <h2>Emotional Healing</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h3>In 2015, I was fortunate enough to be hand selected and personally trained by world-renowned spiritual teacher and author, Teal Swan. 
        <br>
        Teal has personally endorsed me as a practitioner in her modality of emotional healing called, <a target="_blank" style="color:blue" href="http://tealswan.com/completion-process/about-the-process/">The Completion Process</a> </h3>
        <br>
        <h3>This is <strong>THE</strong> most powerful and effective  modality of healing I have discovered thus far in my life</h3>
        <br>
        <h3>Designed to work directly with your emotions, the process helps us become present with our emotions and create a space through which we can discern the origin of traumatic circumstances that give rise to pain in our lives. Through this process, we can relieve ourselves of the charge of painful emotions and allow the emotions themselves to reveal the wisdom behind painful experiences, so that we can reintegrate the parts of ourselves that feel broken and become whole once more</h3>
        <br>
        <h3>In other words, the process orients us away from resisting our pain and into a state of validating and understanding our pain, so that we feel safe enough to move forwards beyond emotional traumas and enjoy a life free of resistance – for it is the resistance of our pain that leads to true suffering</h3>
        <br>
        <h3>In even simpler terms, this is an emotionally healing process that leads one to realise one's innate state of wholeness</h3>
        <br>
        <h3>Below is an extract taken from Teal Swan's website about The Completion Process</h3>
        <br>
        <div style="background-color:whitesmoke; border: 1px solid black">
            <p>"We all wish that our world were a platform for harmony and for pleasure. The reality, however, is that while there is harmony and pleasure here on earth, there is also conflict and suffering. Every day traumatized soldiers return from war. Inhabitants of war-torn areas struggle to pick up the broken pieces of their lives and move forward. Children are abused, women are raped, and natural disasters leave people with nothing. Emergency teams, such as ER doctors, first responders, and firefighters, assist others through horrific circumstances and often find it difficult to process the distress of what they have experienced. Others succumb to addiction to try to drown out the pain of emptiness. All of the difficult circumstances that we struggle with have one thing in common: Trauma.</p>
            <p>The year was 2001. Teal was sitting in a hole with her wrists and ankles tied together, completely at the mercy of her abuser. She had given up on life. She had succumb to the reality that her life was a torture chamber made for one, and that she was never going to get out alive. For years Teal did everything she could do to try to feel better to no avail. But it was there in that hole that she discovered the foundation for what she would later call The Completion Process; a process that would help make even the most wounded and fractured person whole again.</p>
            <p>Everyone on earth, regardless of how good his or her childhood may have been, has experienced trauma to some degree; therefore, everyone experiences post-traumatic stress to some degree. The people who know for sure that they have post-traumatic stress disorder (PTSD) are the ones experiencing post-traumatic stress to such a degree that it interferes with their ability to function, thus they have been given an actual diagnosis. Many people, who are simply struggling to try to feel good in their lives, cannot look back at their lives and pinpoint an exact event that caused their current pain. It is hard for the average person to see that the root of the pain in their adult life is in fact past trauma. The Completion Process however, allows you to see the root of your current pain and to resolve it.</p>
            <p>The standard model for dealing with strong negative emotion is to think thoughts or take action to subdue the negative emotion and thus make you feel better. The Completion Process takes an entirely different approach. It invites negative emotion to act as a doorway through which you can connect with the aspects of yourself that are lost or unresolved. A modern day soul retrieval process, The Completion Process quite simply allows you to put yourself back together again."</p>
        </div>
        <h3>This modality is not a replacement for professional medical or mental health care. If you are suicidal or contemplating suicide, I understand (having been there myself), and I want to help you find a reason to keep living. Click <a target="_blank" style="color:blue" href="http://www.suicide.org/international-suicide-hotlines.html">here</a> for further international assistance. </h3>
        <br>
        <div align="center">
            <div class="priceContainer">
                <div style="position:absolute; top:40px; left: 2px; ">
                    <h4>The Completion Process</h4>
                    <p>between 1.5 - 3 hours</p>
                    <h2>£120</h2>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
