<div class="jumbotron jumbotron-fluid visible" style="background: url('images/energyreadings.jpg') no-repeat center center fixed; height:500px; max-height: 40vh; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container">
    <h2 align="center">Energy Readings</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h4>A session is approximately 20-45 minutes long – with time for your questions at the end – however, these times are not fixed and may be longer, or shorter, depending on what you're needing</h3>
        <br>
        <h4>During a reading, I will tune into your  energy to help  you understand your nature and become clearer on the circumstances unfolding in your life</h3>
        <br>
        <h4>I can look into your past and present, so as to validate what you've been through and clarify the reasons for why you are where you are, and why you're getting what you're getting. Additionally, I can glean insight into your future: I can help you understand what you're creating, what your intentions are on conscious and subconscious levels, so as to provide a sample of the potentialities of what could be experienced – as they apply to you personally. I also like to feel in to the life purpose your soul came here to live out and express</h3>
        <br>
        <h4>Where appropriate and necessary, messages from your departed loved ones, spirit guides and angels are also included – but if you're curious about a particular person or being coming through, we can work together to tap into their energy so that they may provide a message for you through me</h3>
        <br>
        <h4>During a reading, I am simply interpreting energy and will provide you with the best translation of what I feel the spirit world is telling me, and what your soul needs for you to hear – but remember that, ultimately, only YOU know what is best for you. I'm simply here to help and to provide comfort, guidance and validation</h3>
    </div>
    <br>
    <div align="center">
        <div class="priceContainer">
            <div style="position:absolute; top:40px; left: 25px; ">
                <h4>Energy Readings</h4>
                <p>20-45 minutes long</p>
                <h2>£45</h2>
            </div>
        </div>
    </div>
</div>
