<div id="footer-container">
    <div id="footer" class="center">
        <div class="container">
            <h4>Disclaimer</h4>
            <hr>
            <p>All views published are my own unless stated otherwise</p>
            <p>All content and information provided is my own</p>
            <p>Any images used are open source</p>
            <p>Any information or content produced by another and shared on this page is indicated</p>
            <br>
            <p class="copyright"><a href="mailto:Nathanielpaice@outlook.com">© Nathaniel Paice 2016 All Rights Reserved</a></p>
            <hr>
            <span class="footer-email"><a href="mailto:killalea.patrick@gmail.com">Web Design by Patrick Killalea</a></span>
        </div>
    </div>
</div>
