<div class="jumbotron jumbotron-fluid visible" style="background: url('https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11816354_428896997294084_2052225505061560918_o.jpg') no-repeat center center fixed; height:600px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
    <div align="center" style="color:white;">
        <div style="width: 200px; height: 200px; margin-top:20px;">
            <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/10341708_468027760047674_5171121260971979386_n.png?oh=b906dbdb95b9089c0efcad011a764fad&oe=57D7392E" style="height:100%; width:100%; border-radius: 50%;">
        </div>
        <h2>Psychic Mediumship</h2>
        <div style="margin-top:70px; margin-bottom:70px;">
            <h3>Energy readings can provide you with relief, comfort, guidance & energy alignment</h3>
        </div>
    </div>
</div>
<div class="container">
    <div align="center">
        <div style="margin-top:70px; margin-bottom:70px;">
            <h2>Availability</h2>
            <div id="homeCircles">
                <div align="center">
                    <div class="col-md-12">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a href="#" data-toggle="modal" data-target="#1on1Modal">
                                <div style="margin: 20px;">
                                    <i class="fa fa-user fa-3x"></i>
                                    <p>1 on 1</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a href="#" data-toggle="modal" data-target="#phoneModal">
                                <div style="margin: 20px;">
                                    <i class="fa fa-phone fa-3x"></i>
                                    <p>Phone</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a href="#" data-toggle="modal" data-target="#skypeModal">
                                <div style="margin: 20px;">
                                    <i class="fa fa-skype fa-3x"></i>
                                    <p>Skype</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a href="#" data-toggle="modal" data-target="#emailModal">
                                <div style="margin: 20px;">
                                    <i class="fa fa-envelope fa-3x"></i>
                                    <p>Email</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div style="margin-top:70px; margin-bottom:70px;">
            <h2>Blog Posts</h2>
            <div style="margin-top:80px;">
                <div data-ng-repeat="post in posts | orderBy: '-date' | limitTo:4 " align="center">
                    <a href="#/posts/{{post._id}}">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="articleContainer">
                                <div style="background-image: url('{{post.image}}');background-size: cover;background-repeat: no-repeat;background-position: center;height:200px;width:100%;"></div>
                                <div class="transparent articleDate">
                                    {{post.date | date : "dd.MM.y"}}
                                </div>
                                <div class="transparent articleTitle">
                                    {{post.title}}
                                </div>
                                <div class="articleContent">
                                    <p class="wrap">{{post.content}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div align="center">
                    <div>
                        <a href="#/blog">
                            <button type="button" class="btn btn-success btn-lg">View All</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="1on1Modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">1 on 1 sessions</h4>
                </div>
                <div class="modal-body">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="phoneModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Phone sessions</h4>
                </div>
                <div class="modal-body">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="skypeModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Skype sessions</h4>
                </div>
                <div class="modal-body">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="emailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email sessions</h4>
                </div>
                <div class="modal-body">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position:fixed; bottom:30px; left:30px;">
<div align="center" style="font-size: 18px; background-color:lightgreen;">Not live, feel free to add!</div>
    <a href="#/create">

        <button style="width:10vw" type="button" class="btn btn-info btn-lg"><i class="icon-plus"></i> Add Blog Post</button>
    </a>

</div>
