<div class="jumbotron jumbotron-fluid visible" style="background: url('images/services.jpg') no-repeat center center fixed; height:500px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container" align="center">
    <h2>Services</h2>
    <hr>
    <div style="margin-top:70px; margin-bottom:70px;">
        <h3>Please see below for a list of services which I can provide along with a description of each service</h3>
        <br>
        <a href="#/whathappens">
            <button type="button" class="btn btn-success btn-lg">What Happens?</button>
        </a>
        <br>
    </div>
    <div style="margin-top: 50px;">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="servicesContainer">
                <a href="#/crystalreadings">
                    <div align="center">
                        <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/crystalball.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                        </div>
                    </div>
                    <h3>Crystal Readings</h3>
                    <p style="margin:15px;font-size: 16px;">I'm fortunate enough to be able to feel the energy of crystals on a tangible level. So, if you've ever wondered what the purpose of that pretty rock is that you have, I can tell you! </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="servicesContainer">
                <a href="#/emotionalhealing">
                    <div align="center">
                        <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/guidance.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                        </div>
                    </div>
                    <h3>Emotional Healing</h3>
                    <p style="margin:15px;font-size: 16px;">Designed to work directly with your emotions, the process helps us become present with our emotions and create a space through which we can discern the origin of traumatic circumstances that give rise to pain in our lives
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="servicesContainer">
                <a href="#/energyreadings">
                    <div align="center">
                        <div style="margin-top:10px; width:50%;padding-top:50%; border-radius:50%;background-image: url('images/stressed.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                        </div>
                    </div>
                    <h3>Energy Readings</h3>
                    <p style="margin:15px;font-size: 16px;">I can look into your past and present, so as to validate what you've been through and clarify the reasons for why you are where you are, and why you're getting what you're getting. Additionally, I can glean insight into your future</p>
                </a>
            </div>
        </div>
    </div>
</div>
